h1 {
  color: #6600cc;
}

h3 {
  color: red;
}

p {
  color: green;
}

body {
  background-color: lightgray;
}

<!-- . is used for class, a class is an attribute given to multiple HTML elements-->
.list-item {
  font-family: monospace;
}

<!-- # is used for id, an id is a single identifiying attribute-->
#css-item {
  color: #5179ba;
}

<!--Creates a blue border-->
#goal-list {
  border-style: solid;
  border-color: #5179ba;
  width: 30%;
}

#picture {
  width: 60%;
  float: right;
  border: solid;
  border-color: grey beige white grey;
}
